body{
	padding-top:70px;
	font-family: "微软雅黑";
	background-color: #EEEEEE;
}
.form-signin{
	max-width: 330px;
	padding: 20px;
	margin: 0 auto;
}
button {
	margin-top: 20px;
}
.form-signin p{
 	font-size: 16px;
}
.help-block{
	color: red;
}
.footer{
	height: 20px;
	background-color: #f5f5f5;
}
.breadcrumb{
	background-color: #EEEEEE;
}
